@{
  Layout = "_Layout";
}

@using HairSalon.Models;
<div class="body">
  <h1>Stylists</h1>

  @if (@Model.Count == 0)
  {
    <h3>No stylists have been added yet!</h3>
  }
  <ul>
    @foreach (Stylist stylist in Model)
    {
      <li>@Html.ActionLink($"{stylist.StylistName}", "Details", new { id = stylist.StylistId })</li>
    }
  </ul>
  <img class="image-class"
    src="https://static.wixstatic.com/media/7a3277_d1f094cfdef94639ab4d5fadafdb77d9~mv2.jpg/v1/fill/w_640,h_674,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/7a3277_d1f094cfdef94639ab4d5fadafdb77d9~mv2.jpg" width="300" alt="empty hair salon chairs facing mirrors"/>
  <p>@Html.ActionLink("Add new stylist", "Create")</p>
  <p>@Html.ActionLink("Add new client", "Create", "Clients")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>